header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  /* border-bottom: 2px solid #ccc; */
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  
}

.name-header{
  font-size: 30px;
  color: white;
}

body {
  background-color: #151F29;
  background-image: url('../images/portfolio-bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
}



.short-bio {
  margin-top: 250px;
  color: white; /* Adjust as needed */
}

.short-bio h1 {
  font-size: 5.5rem;
  font-weight: bold; /* Adjust the heading font size */
}

.short-bio p {
  font-size: 2rem;
  margin-top: 25px; /* Adjust the paragraph font size */
}

#about-me {
  margin-top: 600px;
  margin-bottom: 200px;
}

/* .card-text li {
  list-style-type: disc;
  margin-bottom: 7px;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 5px;
} */

.card-text li {
  margin-bottom: 7px;
  margin-left: 10px;
  font-size: 20px;
  /* margin-top: 5px; */
  padding: 5px 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border around each list item */
  border-radius: 5px; /* Rounded corners for a nicer look */
  /* background-color: rgba(76, 175, 80);  */
  background-color: transparent;
  color: white;
}


#about-bio {
  font-size: 19.5px;
  line-height: 2;
}

.skills-list {
  columns: 2; /* Set the number of columns */
  column-gap: 20px; /* Adjust the gap between columns */
  padding: 0; /* Remove default padding */
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.about-me-card, .skills-card {
  background-color: transparent;
   color: rgb(187, 184, 184);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
  transition: box-shadow 0.3s ease-in-out;
}

.about-me-card:hover, .skills-card:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
  
}


.avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 40px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  }

  .avatar-container {
    display: flex;
    justify-content: center;
  }

  .projects-header {
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .card-img-top {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    object-fit: cover;
    object-position: top;
  }

 .budget-buddy {
  object-position: bottom;
 }

 .project-card {
  background-color: transparent;
  color: rgb(187, 184, 184);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
  transition: box-shadow 0.3s ease-in-out;
  
 }

 .project-card:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
 }

 .app-bio {
  font-size: 18px;
  line-height: 1.5;
 }

 .app-bio {
  display: none;
}

.project-card:hover .app-bio {
  display: block;
}

.view-btn {
  margin-top: 10px;
  margin-right: 8px;
  padding: 5px 20px;
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.view-btn:hover {
  background-color: rgba(76, 175, 80);
  color: white;
}

.more-projects {
  color:rgb(187, 184, 184);
  font-size: 20px;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
}

.github-btn {
 width: 100px;
 margin-top: 10px;
}

#contact {
  margin-top: 100px;
}

.contact-header {
  color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.contact-me {
  color:rgb(187, 184, 184);
  font-size: 20px;
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;

}

@media (max-width: 768px) {
  body {
    background-position: center;
    /* Adjust other properties as needed */
  }
}